body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  margin: 1%;
  font-size: large;
  color: #00B7FF;
}

nav{
  padding: 2%;
  text-align: center;
  background-color: lightgrey;
}
